{
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "no-global-assign": ["error", {"exceptions": ["require"]}],
    "no-console": "off"
  }
}
